# boDevRogue.template
record( bo, "$(P)$(R)$(NAME)" )
{
	field( DESC, "$(DESC=?)" )
	field( DTYP, "RogueBO" )
	field( OUT,  "@B$(B) L$(L) $(PATH)" )
	field( PINI, "YES" )
	field( ZNAM, "Disable" )
	field( ONAM, "Enable" )
	info( autosaveFields, "VAL" )
}
