# calc.template
record( calcout, "$(P)$(R)$(NAME)" )
{
	field( DESC, "$(DESC=?)"  )
	field( PINI, "$(PINI=NO)" )
	field( CALC, "$(CALC=A)"  )
	field( INPA, "$(INPA=0)"  )
	field( INPB, "$(INPB=0)"  )
	field( INPC, "$(INPC=0)"  )
	field( OUT,  "$(OUT=0)"   )
	field( EGU,  "$(EGU=N/A)" )
	field( HHSV, "$(HHSV=NO_ALARM)" )
	field( HIGH, "$(HIGH=0)" )
	field( HIHI, "$(HIHI=0)" )
	field( HSV,  "$(HSV=NO_ALARM)" )
	field( LLSV, "$(LLSV=NO_ALARM)" )
	field( LOLO, "$(LOLO=0)" )
	field( LOW,  "$(LOW=0)" )
	field( LSV,  "$(LSV=NO_ALARM)" )
	info( autosaveFields, "$(SAVE=VAL)" )
}
